*{
  margin: 0;
}
.app{
  background-color: #fafafa;
  height: 100vh;
}
.app__header{
  position: sticky;
  top: 0;
  z-index: 1;
  object-fit: contain;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.app__headerImage{
  height: 54px;
  width: 118px;
}
.app__login {
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  padding: 20px;
  background-color: white;
  border: 1px solid lightgray;
}
.app_posts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app__loginHome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  background-color: white;
}
.app__headerRight {
  display: flex;
  align-items: center;
}
.app__headerAvatar {
  height: 30px !important;
  width: 30px !important;
}